<div class="container">
    
    <h1 class="mt-3">Directorio</h1>
    <hr>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col"></div>
        
        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="400px" src="assets/Lic-Maria-Aurora-Ponce-Peña-Presidenta-Municipal.jpg" alt="Presidenta Municipal San Sebastian del Oeste">
                <div class="card-body">
                    <h5>Lic. María Aurora Ponce Peña</h5>
                    <p class="card-text">Presidenta Municipal</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:presidencia@sansebastiandeloeste.gob.mx" role="button">presidencia@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col"></div>


        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/MVZ-Sergio-Martin-Morales-Lepe-Sindico-Municipal.JPG" alt="Síndico Municipal San Sebastian del Oeste">
                <div class="card-body">
                    <h5>MVZ. Sergio Martin Morales Lepe</h5>
                    <p class="card-text">Síndico Municipal</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:sindicatura@sansebastiandeloeste.gob.mx" role="button">sindicatura@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Valentín-Bobadilla-Bobadilla-Secretario-General.JPG" alt="Secretario General San Sebastian del Oeste">
                <div class="card-body">
                    <h5>C. Valentín Bobadilla Bobadilla</h5>
                    <p class="card-text">Secretario General</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:secretariageneral@sansebastiandeloeste.gob.mx" role="button">secretariageneral@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Lic-Alejandro-Aguirre-Ruiz-Encargado-de-la-Hacienda-Municipal.JPG" alt="Tesorero Municipal San Sebastian del Oeste">
                <div class="card-body">
                    <h5>Lic. Alejandro Aguirre Ruiz</h5>
                    <p class="card-text">Tesorero Municipal</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:egresos@sansebastiandeloeste.gob.mx" role="button">egresos@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Lic-Luis-Enrique-Tovar-Contreras-Titular-de-la-Unidad-de-Transparencia.JPG" alt="Titular Transparencia Y Director Comunicación Social San Sebastian del Oeste">
                <div class="card-body">
                    <h5>Lic. Luis Enrique Tovar Contreras</h5>
                    <p class="card-text">Titular Transparencia Y Director Comunicación Social</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:transparencia@sansebastiandeloeste.gob.mx" role="button">transparencia@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Ing-Samuel-Montalvo-Mendoza-Director-de-Obras-Publicas.JPG" alt="Obras Públicas San Sebastian del Oeste">
                <div class="card-body">
                    <h5>Ing. Samuel Montalvo Mendoza</h5>
                    <p class="card-text">Obras Públicas</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:obrapublica@sansebastiandeloeste.gob.mx" role="button">obrapublica@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Ing-Omar-Alfonso-Bernal-Ríos-Director-de-Fomento-Agropecuario.JPG" alt="Fomento Agropecuario San Sebastian del Oeste">
                <div class="card-body">
                    <h5>Ing. Omar Alfonso Bernal Ríos</h5>
                    <p class="card-text">Fomento Agropecuario</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:agropecuario@sansebastiandeloeste.gob.mx" role="button">agropecuario@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Lic-Ismael-Ocampo-Garcia-Director-de-Deportes.JPG" alt="Deportes San Sebastian del Oeste">
                <div class="card-body">
                    <h5>C. Ismael Ocampo García</h5>
                    <p class="card-text">Deportes</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:deportes@sansebastiandeloeste.gob.mx" role="button">deportes@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Ma-Guadalupe-Bermúdez-Encarnación-Encargada-de-Registro-Civil.JPG" alt="Encargada Registro Civil San Sebastian del Oeste">
                <div class="card-body">
                    <h5>C. Ma. Guadalupe Bermúdez Encarnación</h5>
                    <p class="card-text">Encargada Registro Civil</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:registrocivil@sansebastiandeloeste.gob.mx" role="button">registrocivil@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Lic-Gilberto-Ocampo-García-Seguridad-Publica.JPG" alt="Seguridad Publica San Sebastian del Oeste">
                <div class="card-body">
                    <h5>Lic. Gilberto Ocampo García</h5>
                    <p class="card-text">Seguridad Publica</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:seguridadpublica@sansebastiandeloeste.gob.mx" role="button">seguridadpublica@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Lic-Claudia-Alejandra-García-Lovera-directora-de-turismo.jpg" alt="Turismo San Sebastian del Oeste">
                <div class="card-body">
                    <h5>Lic. Claudia Alejandra García Lovera</h5>
                    <p class="card-text">Turismo</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:turismo@sansebastiandeloeste.gob.mx" role="button">turismo@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Lic-Martha-Valdez-Dueñas-Directora-Promoción-Económica.JPG" alt="Promoción Económica San Sebastian del Oeste">
                <div class="card-body">
                    <h5>Lic. Martha Valdez Dueñas</h5>
                    <p class="card-text">Promoción Económica</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:promocioneconomica@sansebastiandeloeste.gob.mx" role="button">promocioneconomica@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Diego-Guadalupe-García-Hernández-Contralor.jpg" alt="Contraloría San Sebastian del Oeste">
                <div class="card-body">
                    <h5>C. Diego Guadalupe García Hernández</h5>
                    <p class="card-text">Contraloría</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:contraloria@sansebastiandeloeste.gob.mx" role="button">contraloria@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-María-Irene-Arredondo-Lepe-Directora-de-Catastro.JPG" alt="Catastro San Sebastian del Oeste">
                <div class="card-body">
                    <h5>C. María Irene Arredondo Lepe</h5>
                    <p class="card-text">Catastro</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:catastro@sansebastiandeloeste.gob.mx" role="button">catastro@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Lic-Daniel-Alejandro-Chávez-Arias-Subdirector-Cultura-y-Educación.JPG" alt="Subdirector Cultura y Educación San Sebastian del Oeste">
                <div class="card-body">
                    <h5>Lic. Daniel Alejandro Chávez Arias</h5>
                    <p class="card-text">Subdirector Cultura y Educación</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:cultura@sansebastiandeloeste.gob.mx" role="button">cultura@sansebastiandeloeste.gob.mx</a>
                                <a class="btn btn-sm btn-outline-warning mt-3" href="mailto:educacion@sansebastiandeloeste.gob.mx" role="button">educacion@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Fabiola-Rodriguez-Corona-Secretaria-Particular-de-Presidencia.JPG" alt="Particular de presidencia San Sebastian del Oeste">
                <div class="card-body">
                    <h5>Fabiola Rodríguez Corona</h5>
                    <p class="card-text">Particular de presidencia</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:sansebastiandeloeste@difjalisco.gob.mx" role="button">sansebastiandeloeste@difjalisco.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Dorian-Enrique-Arechiga-González-Director-de-Ecologia.jpg" alt="Ecología San Sebastian del Oeste">
                <div class="card-body">
                    <h5>C. Dorian Enrique Arechiga González</h5>
                    <p class="card-text">Ecología</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:ecologia@sansebastiandeloeste.gob.mx" role="button">ecologia@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/Arq-Alejandro-Garcia-Ruiz-Encargado-de-Planeacion-Urbana.JPG" alt="Planeacion Urbana San Sebastian del Oeste">
                <div class="card-body">
                    <h5>Arq. Alejandro García Ruiz</h5>
                    <p class="card-text">Planeación Urbana</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:desarrollosocial@sansebastiandeloeste.gob.mx" role="button">desarrollosocial@sansebastiandeloeste.gob.mx</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="50%" height="300px" src="assets/C-Luis-Héctor-González-Ponce-Oficial-Mayor.JPG" alt="Oficial Mayor San Sebastian del Oeste">
                <div class="card-body">
                    <h5>C. Luis Héctor González Ponce</h5>
                    <p class="card-text">Oficial Mayor</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning mb-3" href="tel:3222972898" role="button">322 297 2898</a>        
                            </div>

                            <div class="row">
                                <a class="btn btn-sm btn-outline-warning" href="mailto:oficialia.mayorsso@gmail.com" role="button">oficialia.mayorsso@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>