<div class="container">
    <h1 class="mt-3">San Sebastián del Oeste, Jalisco México</h1>
    <hr>

    <h2 class="pt-3">Municipio</h2>
    <p>
        San Sebastián del Oeste es un municipio de la Región Sierra Occidental del estado de Jalisco, México.

        <br><br>
        <strong> Región: </strong>
        Región Costa-Sierra Occidental
        
        <br><br>
        <strong> Toponimia: </strong>
        En la época colonial esta región fue llamada Real de San Sebastián, denominación que tuvo hasta principios del Siglo XIX. A mediados del siglo decimonónico ya era conocido como San Sebastián. En 1983 adquirió su actual denominación.

        <br><br>
        <strong> Reseña histórica: </strong>
        Antes de la llegada de los españoles estaba poblada esta región por los tecos. La conquista la efectuó en 1524 el capitán Francisco Cortés de San Buenaventura acompañado por Juan de Escárcena. En 1530 pasó por este lugar Nuño de Guzmán con su ejército que al ser recibido sin hostilidades por los indígenas tuvo así el pretexto para apoderarse de todo lo que había conquistado Francisco Cortés.
        En 1542 son descubiertas las minas y es nombrada jurisdicción de Hostotipac, la alcaldía mayor Real de Minas de San Sebastián. Así, durante la colonia fue uno de los principales centros mineros de la Nueva España.
        La jurisdicción del Real de San Sebastián comprendía los reales de San Sebastián, Real de los Reyes, Jolapa, Real de Santiago, San Nicolás, entre otras minas de plata.
        El poblado llegó a contar con 20 mil habitantes, cuando en la actualidad apenas si llegan a 7 mil. En 1825 el pueblo de Real de San Sebastián tenía ayuntamiento y pertenecía al departamento de Mascota en el 6° Cantón de Autlán. Las comisarías que comprendía eran las de: Real de Hostotipac, Real Santiago y Real de Avillas; así como los ranchos de Colesio y Santa Ana.
        En 1843, Manuel López Cotilla en sus “Noticias Geográficas y Estadísticas del Departamento de Jalisco”, menciona al poblado con el nombre de San Sebastián que tenía en su jurisdicción la comisaría de Los Reyes y los ranchos La Estancia, Colesio, San Isidro y San Pedro.
        Al crearse en 1870 el 10° Cantón con cabecera en Mascota, San Sebastián quedó en su jurisdicción. En el decreto número 210, del 30 de octubre de 1886, se dispuso la erección en comisaría política de la población de Los Reyes perteneciente al municipio de San Sebastián.
        Desde las primeras décadas del siglo XX, en Jalisco se modificó sustancialmente su división territorial al desaparecer la organización de cantones. A partir de esa época y hasta los primeros años de la década de los ochenta, el municipio fue conocido como San Sebastián ex – 10° Cantón.
        Por decreto número 11276, publicado el 22 de octubre de 1983, se denominó oficialmente al municipio como San Sebastián del Oeste; por haberlo solicitado así el H. Ayuntamiento, con el consenso mayoritario de la población.
    </p>

    <h2 class="pt-4">Personajes Ilustres</h2>
    <strong>Pablo Encarnación:</strong> Presidente Municipal <br>
    <strong>Ignacio Aguirre	Presidente:</strong> Municipal <br>
    <strong>Agustín Aguirre Ramos:</strong>	Obispo <br>
    <strong>Amado Aguirre Santiago:</strong> Escritor <br>
    <strong>José Francisco Arroyo de Anda y Villagómez:</strong> Escritor <br>

    <h2 class="pt-4">Cronología de Hechos Históricos</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Año</th>
            <th scope="col">Suceso</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1524</th>
            <td>El capitán Francisco Cortés de San Buenaventura conquistó esta región.</td>
          </tr>
          <tr>
            <th scope="row">1530</th>
            <td>Nuño Beltrán de Guzmán se adjudicó estas tierras, que habían sido exploradas por Francisco Cortés en años anteriores.</td>
          </tr>
          <tr>
            <th scope="row">1542</th>
            <td>La alcaldía mayor del Real de Minas de San Sebastián quedó integrada bajo la jurisdicción de Hostotipac.</td>
          </tr>
          <tr>
            <th scope="row">1608</th>
            <td>El poblado contaba con una parroquia dedicada a San Sebastián.</td>
          </tr>
          <tr>
            <th scope="row">1774 - 1779</th>
            <td>Durante este período se trazaron las calles del poblado. Dicha distribución aún se conserva.</td>
          </tr>
          <tr>
            <th scope="row">1825</th>
            <td>El pueblo del Real de San Sebastián tenía ayuntamiento.</td>
          </tr>
          <tr>
            <th scope="row">1870</th>
            <td>San Sebastián quedó en la jurisdicción del recién creado 10° Cantón de Mascota.</td>
          </tr>
          <tr>
            <th scope="row">1871</th>
            <td>Se inició la edificación del actual templo, construido sobre los cimientos del anterior.</td>
          </tr>
          <tr>
            <th scope="row">1888</th>
            <td>Se declaró una huelga de mineros, encabezados por Felipe Preciado y Francisco Ochoa; ante lo cual la empresa propietaria con residencia en Nueva York ordenó el paro inmediato de sus fundos y desaprobó los arreglos hechos con los huelguistas por su representante, Mr. Becker.</td>
          </tr>
          <tr>
            <th scope="row">1983</th>
            <td>El 22 de octubre. Se denominó oficialmente al municipio San Sebastián del Oeste, hasta entonces conocido como San Sebastián ex- 10° Cantón.</td>
          </tr>
        </tbody>
    </table>

    <h2 class="pt-4">Escudo de Armas</h2>
    <p>
        Es un escudo de forma francesa, medio partido y cortado.
        Los instrumentos de trabajo representan la actividad económica que le dio fama y progreso a esta región desde la época colonial, ya que en la primera mitad del siglo XVI (1542) se descubrieron en la zona gran cantidad de yacimientos de minerales, principalmente de plata, por lo que al lugar se le dio el nombre de Real de Minas de San Sebastián.
        Durante la colonia fue uno de los principales centros mineros de la Nueva España. En la actualidad existen en el territorio municipal yacimientos de oro, plata, cobre, zinc y plomo.
        La rama del cafeto alude a las actividades agrícolas que se desarrollan en el municipio, siendo una de las ramas económicas más dinámicas de San Sebastián. Además esta planta en particular se cultiva con abundancia en la región.
        El cerro de La Bufa destaca en el ámbito regional debido a la altura que alcanza. Y el paisaje boscoso representa la principal manifestación de los recursos naturales con que cuenta el municipio, pues San Sebastián del Oeste cuenta con aproximadamente 76,650 hectáreas de bosque donde predominan especies de pino, encino, roble, fresno y parota. En estos ecosistemas se pueden apreciar paisajes de gran belleza.
        Las alabardas y la fecha grabada en la banderola (1524) aluden al año en que fue conquistada esta región por el capitán español Francisco Cortés de San Buenaventura, quien venía acompañado por Juan de Escárcena.
        La cinta que está debajo del escudo lleva inscrito el nombre actual de la municipalidad: San Sebastián del Oeste, el cual le fue otorgado en 1983 a petición del H. Ayuntamiento con el consenso mayoritario de la población.
        El escudo fue elaborado por el señor Luis Ignacio Trujillo Sánchez, quien fungía como Secretario y Síndico del H. Ayuntamiento en el trienio 1983-1985.
        El emblema representativo de esta municipalidad fue aprobado en 1983, en sesión de Cabildo, bajo acta número 9 de fecha 1° de julio; siendo presidenta municipal la Profesora María Bertha Aguirre Sánchez.
    </p>

    <h2 class="pt-4">Descripción geográfica</h2>
      
    <strong>Situación</strong><br>
    El municipio de San Sebastián del Oeste se localiza al oeste del Estado, en las coordenadas 20°39’45’’ a los 21°02’30’’ de latitud norte y de los 104°35’00’’ a los 104°51’00’’ de longitud oeste, a una altura de 1,480 metros sobre el nivel del mar.
    <br><br>
    <strong>Delimitación</strong><br>
    Limita al norte con el estado de Nayarit; al sur, el municipio de Mascota; al este, las municipalidades de Guachinango y Mascota; y al oeste, Puerto Vallarta.
    <br><br>
    <strong>Extensión</strong><br>
    La extensión territorial es de 1,400.13 km².

    <h2 class="pt-4">Datos Físicos</h2>
    <strong>Relieve</strong>
    <br>
    Geología: Los terrenos del municipio pertenecen al período Cuaternario, compuesto por rocas sedimentarias y arenisca–conglomerado; período Terciario, compuesto por rocas ígneas extrusivas, riolita, basalto, andesita, toba y brecha volcánica; y del período Cretácico, compuesto por rocas ígneas intrusivas, granito, diorita, granodiorita, gabro y diabasa.
    <br><br>
    Topografía: Cuenta con muy pocas zonas planas, que abarcan el 3% del municipio, con alturas de 1450 a 1550 metros; las zonas semiplanas abarcan el 4% del municipio, con alturas de 1550 a 1650 metros; y las zonas accidentadas abarcan el 93% del municipio, con alturas de 1650 a 1950 metros.
    <br><br>
    <strong>Clima</strong>
    <br>
    Al oeste del municipio predomina clima húmedo con invierno y primavera secos, y cálidos sin cambio térmico invernal bien definido; al este se clasifica como húmedo con invierno y primavera secos, y semicálidos sin estación invernal definida. La temperatura media anual es de 18.7 ° C., y tiene una precipitación media anual de 1441.6 milímetros con régimen de lluvias en los meses de junio a octubre. Los vientos dominantes son de dirección este. El promedio de días con heladas al año es de 15.
    <br><br>
    <strong>Hidrografía</strong>
    <br>
    Sus recursos hidrológicos son proporcionados por los ríos Ameca y Los Reyes; así como por los arroyos Las Casillas, San Sebastián, Santiago, Arrayanes, Las Juntas, Jalapillo, El Murciélago, La Cuadrilla, El Molino y Los Plátanos. Cuenta también con la presa La Paloma.
    <br><br>
    <strong>Suelos</strong>
    <br>
    Los suelos dominantes corresponden al tipo del Feozem háplico, Vertisol crómico y Cambisol eútrico; y como suelos asociados se encuentran el Andosol crómico y Fluvisol eútrico.
    <br><br>
    <strong>Recursos Naturales</strong>
    <br>
    La riqueza natural con que cuenta el municipio está representada por 76,650 hectáreas de bosque donde predominan especies de pino, encino, roble, parota, fresno y pochote, principalmente. Sus recursos minerales son yacimientos de oro, plata, cobre, zinc y plomo.
    <br><br>
    <strong>Uso del Suelo</strong>
    <br>
    No obstante que el municipio es minero, la mayor parte del suelo tiene un uso forestal y pecuario. La tenencia de la tierra en su mayoría corresponde a la propiedad ejidal.
    <br><br>
    <strong>Flora y fauna</strong>
    <br>
    Vegetación: En la flora existen especies como el pino, encino, roble, capomo, avilla, parota, fresno, mezcahuite y pochote.
    <br><br>
    Fauna: En la fauna existen especies como el venado, conejo, jabalí, tlacuache, armadillo, codorniz, ardilla, tuza, coyote, gallina de cerro, perico, guacamaya, perico loro y halcón.

    <h2 class="pt-4">Economía</h2>
    <strong>Principales Sectores, Productos y Servicios</strong>
    
    <strong>Agricultura</strong><br>
    De los cultivos locales destacan: maíz, sorgo y garbanzo y entre los frutales lima y aguacate.
    <br><br>
    <strong>Ganadería</strong><br>
    Se cría ganado bovino de carne y leche, porcino, caprino y aves de postura y colmenas.
    <br><br>
    <strong>Explotación forestal</strong><br>
    Se explotan principalmente productos maderables como pino, encino y oyamel.
    <br><br>
    <strong>Comercio</strong><br>
    Predominan los giros dedicados a la venta de productos de primera necesidad y los comercios mixtos que venden en pequeña escala artículos diversos.
    <br><br>
    <strong>Servicios</strong><br>
    Se prestan servicios profesionales, técnicos, comunales, sociales, personales y de mantenimiento.
    <br><br>
    <strong>Minería</strong><br>
    Existen recursos mineros metálicos: oro, plata y cobre.
    <br><br>
    <strong>Pesca</strong><br>
    Se captura en pequeña escala: bagre, trucha, carpa y camarón charquero.

    <h2 class="pt-4">Servicios Públicos</h2>
    El municipio ofrece a sus habitantes los servicios de agua potable, alcantarillado, alumbrado público, mercados, rastros, cementerios, aseo público, vialidad, seguridad pública, tránsito, parques, jardines y centros deportivos.
    En lo que concierne a servicios básicos el 85.8% de los habitantes disponen de agua potable; en alcantarillado la cobertura es del 59.3% y en el servicio de energía eléctrica el 86.6%.

    <h2 class="pt-4">Medios de Comunicación</h2>
    Respecto a los medios de comunicación, el municipio cuenta con correo, teléfono, señal de radio y televisión y radiotelefonía.

    <h2 class="pt-4">Vías de Comunicación</h2>
    La transportación terrestre se lleva a cabo por las carreteras Guadalajara-Puerto Vallarta por Chapalilla; Puerto Vallarta-San Sebastián; Guadalajara-Barra de Navidad-entronque San Clemente-Ayutla-Mascota-San Sebastián.
    Cuenta con una red de caminos de terracería y rurales que intercomunican las localidades.
    La transportación interna se efectúa en vehículos de alquiler y particulares.
    La transportación aérea se realiza a través de las aeropistas San Felipe de Hijar y San Sebastián del Oeste, que tienen capacidad para recibir avionetas.

    <h2 class="pt-4">Religión</h2>
    Entre la población de 5 años y más de edad de este municipio predomina la religión católica la cual es profesada por la mayoría de la población (94.84%); en menor proporción se encuentran Testigos de Jehová, creyentes de doctrinas evangélicas y protestantes (2.26%). Asimismo el 2.29% de los habitantes manifestaron no practicar religión alguna.

    <h2 class="pt-4">Monumentos Históricos</h2>
    <strong>Arquitectónicos</strong><br>
    El templo de San Sebastián, la construcción original data de 1608, presenta detalles mezclados de los estilos romano y corintio.
    El inmueble que ocupa el Hotel El Pabellón, su estructura es de estilo colonial con columnas romanas.
    <br><br>
    <strong>Obras de Arte</strong><br>
    Esculturas: la imagen de la Virgen del Rosario, originaria de España. Se encuentra en el altar mayor del templo donde se venera en la localidad de Real Alto de Oxtotipac, también conocida como Hostotipac.
    <br><br>
    <strong>Gastronomía</strong><br>
    Alimentos: Pozole, birria, enchiladas de mole, tostadas y tamales.
    Dulces: Rollos de guayaba y arrayán, cajetas de frutas como el tejocote, manzana, mango, membrillo y perón.
    Bebidas: Raicilla, atole y ponches de guayaba, arrayán y membrillo.
    <br><br>
    <strong>Fiestas y tradiciones</strong><br>

    Fiestas
    Destacan las festividades de carácter religioso; el 20 de enero se celebran las fiestas en honor a San Sebastián, santo patrono de la población; el 15 de agosto es la festividad dedicada a la Virgen de la Asunción; el 7 de octubre tienen lugar los festejos de la Virgen del Rosario; y el día 12 de diciembre se venera a la Virgen de Guadalupe.

    Tradiciones y Costumbres
    Durante las fiestas decembrinas se acostumbra realizar posadas y pastorelas.

    En la celebración de las diferentes festividades religiosas también se organizan eventos para la diversión de los devotos: peleas de gallos, charreadas y bailes.
    <br><br>
    <strong>Lugares de interés</strong><br>
    Turismo
    Dentro del municipio se admira su actual imagen urbana y algunas haciendas distribuidas en el territorio; así como los paisajes de los bosques localizados en la sierra y en el sur del municipio y el cerro de La Cumbre.

    <h2 class="pt-4">Principales Localidades</h2>
    La caracterización del municipio mexicano tiene su fundamento en la Constitución Política de los Estados Unidos Mexicanos, artículo 115; que lo define como la base de la división territorial y de la Organización Política y Administrativa de los Estados.
    La estructura del Municipio Libre entonces se marca en el citado texto constitucional en base a:
    <ul>
        <li>La integración de la autoridad política personificada en el Ayuntamiento de elección popular y directa</li>
        <li>Su autonomía producto de su personalidad jurídica, administración de su patrimonio y facultad de darse sus normas internas, de organización y generales de convivencia comunitaria, en observancia a las Leyes</li>
        <li>Las funciones y servicios públicos básicos a su cargo</li>
        <li>El manejo libre de su Hacienda</li>
        <li>Sus facultades de planeación del desarrollo urbano y control territorial</li>
        <li>La función de policía preventiva de seguridad pública</li>
        <li>Las relaciones de trabajo con sus servidores públicos</li>
    </ul>
    El principio de Soberanía de los Estados enmarcado en la Constitución Política de los Estados Unidos Mexicanos, artículos 40, 41 primer párrafo y 133, otorga a las Entidades Federativas la potestad para desarrollar, bajo la base constitucional, la legislación sobre la cual se desenvuelve la vida institucional y competencias del municipio libre como orden de Gobierno
    La Constitución Política del Estado Libre y Soberano de Jalisco, Título Primero, Capítulo II “Del territorio del Estado”, refiere que los municipios son aquellos señalados en la Ley que establece las bases generales de la administración pública municipal.
    La Ley del Gobierno y la Administración Pública del Estado de Jalisco vigente desde el 22 de mayo de 2001, en el Título de Disposiciones Generales, señala que los municipios pueden determinar la constitución de Delegaciones Municipales, fijando requisitos que en los centros de población se deben cumplir en cuanto a la cantidad de habitantes (2,500), escuela primaria en funciones, disposición de terreno e infraestructura para la prestación de los servicios y que sea solicitado al Ayuntamiento por las dos terceras partes de su población; dejando la facultad del municipio de constituir Agencias Municipales para los demás centros de población.
    En el municipio existen 80 localidades habitadas, siendo las más importantes; San Sebastián del Oeste (cabecera municipal), San Felipe de Hijar, Santiago de Pinos, El Carrizo y Pueblito San Pablo.

    <h2 class="pt-4">Funciones</h2>
    En ese orden, la Ley señala en su Título Tercero “De las autoridades municipales”, figurando en primer lugar las obligaciones y facultades del Presidente Municipal (Artículos 47 y 48), de los regidores (artículos 49 y 50), para enseguida enlistar las figuras de autoridad siguientes:

    <h2 class="pt-4">El Síndico</h2>
    El artículo 52 enlista entre sus principales obligaciones acatar las ordenes del Ayuntamiento, representar al Municipio en los contratos que celebre y en todo acto en que el Ayuntamiento ordene su intervención, ajustándose a las órdenes, e instrucciones que en cada caso reciba así como representar al Municipio, previa aprobación del Ayuntamiento, en todas las controversias o litigios en que éste sea parte; y entre sus facultades (artículo 53) refiere, entre otras, la de asistir a las visitas de inspección que se hagan a la oficina de la Hacienda Municipal e informar a la sociedad sus actividades.

    <h2 class="pt-4">Los Jueces Municipales</h2>
    El artículo 55 alude que en los municipios debe haber por lo menos un juez municipal, correspondiendo al Ayuntamiento determinar en sus reglamentos, el número de jueces municipales, así como la forma de organización y funcionamiento de los servidores públicos que los auxilien, atendiendo a las necesidades de la población y a las posibilidades de su presupuesto. Las atribuciones de un juez municipal se señalan en el artículo 58:

    I. Conocer, calificar e imponer las sanciones administrativas municipales que procedan por faltas o infracciones a los ordenamientos municipales, excepto las de carácter fiscal.

    II. Conciliar a los vecinos de su adscripción en los conflictos que no sean constitutivos de delito, ni de la competencia de los órganos judiciales o de otras autoridades.

    III. Llevar un libro de actuaciones y dar cuenta al Ayuntamiento del desempeño de sus funciones.

    <h2 class="pt-4">El Encargado de la Secretaría del Ayuntamiento</h2>
    Incluido en el mismo Título Tercero de la Ley en trato, el Capítulo V ubica esta figura dentro de la categoría de servidores públicos auxiliares del Ayuntamiento, puntualizando los requisitos para asumir el cargo entre los que se mencionan la escolaridad de bachillerato en municipios integrados hasta por 14 regidores y contar con título profesional, sin especificar el área o profesión, para Ayuntamientos con mayor número de regidores.
    Entre sus facultades está formular las actas del Ayuntamiento y expedir copias, constancias, credenciales y demás certificaciones que le sean legalmente requeridas. Cabe señalar que esta función puede recaer en el Síndico previa aprobación por mayoría absoluta del Ayuntamiento.

    <h2 class="pt-4">El Encargado de la Hacienda Municipal</h2>
    Para este ramo de la Administración la Ley establece similares requisitos a los del Encargado de la Secretaría, acotando para el caso de Ayuntamientos con mas de 14 regidores, el acreditar experiencia o conocimientos en la materia y tener título en las áreas económico administrativas; este servidor público es responsable ante el Ayuntamiento del manejo de todos los valores a su cuidado, teniendo entre sus principales funciones el verificar la recaudación, el buen orden y debida comprobación de las cuentas de ingresos y de egresos; el envío al Congreso del Estado de las cuentas detalladas de los movimientos de fondos y aplicar los gastos, de acuerdo con el Presupuesto de Egresos aprobado por el Ayuntamiento.
    Cabe señalar que para hacer efectivas las contribuciones, sanciones pecuniarias y demás arbitrios, la oficina encargada de la Hacienda Municipal es la única dependencia autorizada para ejercer la facultad económico-coactiva en los términos de la Ley de Hacienda Municipal del Estado de Jalisco.

    <h2 class="pt-4">El órgano de control interno</h2>
    La Ley del Gobierno y la Administración Pública Municipal establece en su artículo 15 la facultad del Ayuntamiento de nombrar al titular del Órgano de Control Interno—generalmente referido como contraloría—a cuyo cargo está la aplicación de las sanciones en materia de responsabilidad administrativa a los servidores públicos reguladas en los artículos 106 y 107 de la Constitución Política del Estado de Jalisco, Título Quinto, Capítulo III de la Ley de Responsabilidades de los Servidores Públicos del Estado de Jalisco.

    <h2 class="pt-4">Resto de la administración pública municipal</h2>
    La Ley en cita refiere en su Título Sexto “De los Servicios Públicos Municipales”, que en cada municipio debe existir la policía preventiva municipal bajo el mando del Presidente Municipal, quedando hasta esta mención las Unidades Funcionales que como tal se expresan en la Ley. Es importante destacar que el resto de la estructura organizacional suele de tomar su denominación de la propia de las funciones y servicios públicos municipales a la libre determinación de los Ayuntamientos, situación que resulta aplicable a la luz de lo dispuesto en el Titulo Séptimo “De la organización y participación ciudadana y vecinal” que especifica las atribuciones del Ayuntamiento en la materia.
    En esa misma tesitura se tiene el Título Octavo “De la Planeación del Desarrollo Municipal” que refiere a los comités de planeación para el desarrollo municipal como organismos auxiliares de los ayuntamientos, en la planeación y programación del desarrollo municipal; resaltando que cada Ayuntamiento determinará se estos comités forman parte de la administración pública municipal o funcionan exclusivamente como órganos de consulta ciudadana.
    Finalmente el Título Undécimo “De los actos y procedimientos administrativos” señala que los ayuntamientos instituirán al funcionario, dependencia u órgano municipal con autonomía y definitividad en sus resoluciones, encargado de radicar y resolver las inconformidades planteadas por virtud de los actos administrativos emitidos por las autoridades municipales que los administrados consideren hayan afectado su interés jurídico.
    En este orden la creación de organismos públicos descentralizados municipales es una facultad de los Ayuntamientos que de igual forma descansa en la mayor eficiencia en la prestación de servicios a la población y la disponibilidad presupuestaria, requiriéndose el voto favorable de la mayoría calificada de los integrantes del Ayuntamiento; acotando el artículo 60 que su existencia se dará de conformidad a lo establecido en los ordenamientos municipales y en las disposiciones legales federales y estatales aplicables en la materia. En el Estado de Jalisco las áreas de asistencia social (DIF Municipal), atención a las mujeres y a la juventud son las funciones que funcionan bajo esta modalidad de la administración.

    <h2 class="pt-4">Autoridades Auxiliares</h2>
    Con el fin de que las acciones del ayuntamiento lleguen a todo el territorio municipal, los gobiernos locales habrán de realizarlas a través de autoridades auxiliares, las cuales actuarán en cada localidad como representantes administrativos y políticos del ayuntamiento.
    Para el caso de Jalisco, esta responsabilidad recae en las figuras de los delegados y agentes municipales.
    La designación de delegados y agentes municipales en los poblados que no sean cabecera de municipio es una facultad que la Ley del Gobierno y la Administración Pública Municipal otorga a los Ayuntamientos (artículos 8 y 9).
    La Ley del Gobierno y la Administración Pública Municipal, en su Título Primero Capítulo II, determina que los delegados municipales deben ser designados por el Ayuntamiento y removidos por éste mismo con causa justificada, previo respeto de su derecho de audiencia y defensa.
    Asimismo instruye al Ayuntamiento para reglamentar el procedimiento de designación de los delegados, sus requisitos, obligaciones y facultades.
    Por lo que toca a los agentes municipales, el artículo 9 de la citada ley establece que éstos deben ser nombrados por el Ayuntamiento a propuesta del Presidente Municipal, y removidos por el Ayuntamiento por causa justificada.
    Y, al igual que en el caso de los delegados, el Ayuntamiento deberá reglamentar los requisitos para ser agente municipal, así como sus obligaciones y facultades.
    El referido capítulo de la Ley del Gobierno y la Administración Pública Municipal faculta al Ayuntamiento para constituir delegaciones y agencias municipales en los centros de población que integran su territorio. Para el caso de las delegaciones se deberán observar bases mínimas de población, territorio e infraestructura urbana que se especifican en el artículo 7 numerales I a VI. Mientras que para las agencias municipales, éstas podrán constituirse si en Ayuntamiento lo considera necesario.
    En el municipio de San Sebastián del Oeste, se cuenta con delegaciones municipales en los poblados de San Felipe de Híjar. Asimismo se cuenta con agencias municipales en las localidades de Santiago de Pinos, La Estancia de Landeros, Santa Ana, San Isidro (La Haciendita), El Pueblito (San Pablo), San Juan de Arriba, Teleacapan, Soyatan, Copales, El Carrizo, Amatanejo, El Guayacán, Potrero de los Barrera, La Cofradía de Camotlán, La Tortuga, Los Charcos, La Palma, Milpillas, La Ermita, Las Mesitas y El Real Alto.

    <h2 class="pt-4">Regionalización Política</h2>
    El municipio de San Sebastián del Oeste se integra al distrito electoral número 5 federal y local.

</div>