h1 {
    color: #f69533;
}

h2 {
    color: orange;
}

hr {
    color: #f69533;
}

#centrador {
    position: relative;
}
  
#imagen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}