<div class="container">
    <h1 class="mt-3">Preguntas frecuentes</h1>
    <hr>

    <div class="accordion accordion-flush" id="acordeonPreguntas">
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                ¿Dónde Está San Sebastián Del Oeste?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#acordeonPreguntas">
            <div class="accordion-body">San Sebastián del Oeste se encuentra ubicado a 255 km de Guadalajara, a 60 km de Puerto Vallarta y a 45 km de Mascota, por carretera vía corta, sin cuota, ecológica y panorámica</div>
          </div>
        </div>
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                ¿Qué Hacer En San Sebastián Del Oeste?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#acordeonPreguntas">
            <div class="accordion-body">Explora el pasado minero, renta de cuatrimotos, senderismo, ciclismo, miradores naturales, fotografía rural y natural, recorridos guiados y apreciación de flora silvestre.</div>
          </div>
        </div>
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Hospedaje En San Sebastián Del Oeste
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#acordeonPreguntas">
            <div class="accordion-body">San Sebastián del Oeste cuenta con aproximadamente 20 establecimientos de Hospedaje desde precios muy accesibles por persona.</div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                Restaurantes En San Sebastián Del Oeste
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#acordeonPreguntas">
              <div class="accordion-body">San Sebastián del Oeste cuenta con alrededor de 20 establecimientos de Alimentos y bebidas con comida desde la típica tradicional hasta la sofisticada gourmet</div>
            </div>
          </div>
          
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                ¿Qué Atractivos Tiene San Sebastián Del Oeste?
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#acordeonPreguntas">
              <div class="accordion-body">San Sebastián del Oeste cuenta con atractivos turísticos naturales, culturales y arquitectónicos dentro de los qué destacan : Mirador Natural Cerro la Bufa, Museo Conchita Encarnación, Mina Santa Gertrudis, Templo de San Sebastián Mártir</div>
            </div>
          </div>
          
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                ¿Cómo Llegar Al Cerro De La Bufa?
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#acordeonPreguntas">
              <div class="accordion-body">Para llegar al Mirador Natural Cerro la Bufa se puede ir por nuestra propia cuenta en nuestra camioneta (es lo más recomendable ya que para un coche sería muy complicado) rentar cuatrimoto en Tour guiado o por propia cuenta o en un Tour guiado en camioneta.</div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                ¿Cuál Es La Población De San Sebastián Del Oeste?
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#acordeonPreguntas">
              <div class="accordion-body">De acuerdo a la encuesta intercensal 2015 del Estado de Jalisco San Sebastián del Oeste tiene una población 675 habitantes.</div>
            </div>
          </div>
          
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                ¿Por Qué Es Pueblo Mágico San Sebastián Del Oeste?
              </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#acordeonPreguntas">
              <div class="accordion-body">Al ingresar a San Sebastián del Oeste el paisaje embiste un espectáculo de eminentes montañas revestidas de poblado de ocote, mismas qué albergan una gran biodiversidad y un cielo azul preponderante y voluble. Al caminar por sus angostos callejones y calles empedradas se vislumbran algunas haciendas con sus galeras en ruinas qué muestran lo qué en la época de la Colonia significó la Minería, conservando así tesoros arquitectónicos, culturales y naturales qué lo invitan a qué regrese a seguir descubriendo éste encantador y auténtico Pueblo Mágico.</div>
            </div>
          </div>
          
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingNine">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                ¿Cuál Es La Historia De San Sebastián Del Oeste?
              </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#acordeonPreguntas">
              <div class="accordion-body">San Sebastián del Oeste es un pueblo de origen minero fundado en el año de 1605,pero qué por sus fachadas y estilo arquitectónico pertenece al Siglo XIX.</div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTen">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                ¿Es Seguro Visitar San Sebastián Del Oeste?
              </button>
            </h2>
            <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#acordeonPreguntas">
              <div class="accordion-body">San Sebastián del Oeste es un destino seguro de visitar en cualquier temporada del año.</div>
            </div>
          </div>

    </div>
    
</div>