<div class="container">
    <h1 class="mt-3">Artículo 15. Información fundamental – Ayuntamientos</h1>
    <hr>

    <ul>
        <li><a href="">I. La obligatoria para todos los sujetos obligados</a></li>
        <li><a href="https://mega.nz/folder/WaBUSB4L#bELqRG0voCmOg6dLI_LURA">II. La integración del Ayuntamiento, las comisiones edilicias y demás órganos que establezca su organigrama</a></li>
        <li><a href="https://mega.nz/folder/STAk0b4B#BDllyEuVH7x9xJY-BAWfEQ">III. Los bandos de policía y gobierno, reglamentos, decretos, acuerdos, circulares y demás disposiciones jurídicas expedidas por el Ayuntamiento respectivo</a></li>
        <li><a href="https://mega.nz/folder/2bYE3BpL#ifsPQ8JR9rVqi5j32XxVnQ">IV. Las iniciativas presentadas y las exposiciones de motivos de los reglamentos vigentes en el Municipio</a></li>
        <li><a href="https://mega.nz/folder/fXZgwbCI#u8PP8B7aoAnphIzaALmEMw">V. Los instrumentos de planeación del desarrollo del municipio y sus modificaciones</a></li>
        <li><a href="https://mega.nz/folder/aTI0FBqJ#GzmaINhplZo82CHj_CA52w">VI. Los reglamentos internos, manuales y programas operativos anuales de toda dependencia</a></li>
        <li><a href="https://mega.nz/folder/feRACZyY#i4cnANX8mZUQmMiZ_8Wtvg">VII. Los programas de trabajo de las comisiones edilicias</a></li>
        <li><a href="">VIII. Los órdenes del día de las sesiones del Ayuntamiento y las comisiones edilicias</a></li>
        <li><a href="">IX. El libro de actas de las sesiones del Ayuntamiento y las actas de las comisiones edilicias</a></li>
        <li><a href="">X. La gaceta municipal</a></li>
        <li><a href="https://mega.nz/folder/abAQwBaD#pOmDMZQyOeW_7aBW-8irAg">XI. La información de los registros públicos</a></li>
        <li><a href="">XII. Los recursos materiales, humanos y financieros asignados a cada dependencia</a></li>
        <li><a href="">XIII. Los convenios y contratos celebrados para la realización de obra pública</a></li>
        <li><a href="">XIV. Los convenios de coordinación o asociación municipal</a></li>
        <li><a href="https://mega.nz/folder/OfZ2ARgS#50hnw7mFtloTFddCM1p0EA">XV. Los convenios para la prestación de servicios públicos coordinados o concesionados</a></li>
        <li><a href="https://mega.nz/folder/OfZ2ARgS#50hnw7mFtloTFddCM1p0EA">XVI. El registro de los consejos consultivos ciudadanos</a></li>
        <li><a href="https://mega.nz/folder/uOJmiRwL#4MsXj2N-cOPknLkUGlxarg">XVII. El registro de las asociaciones de vecinos en el municipio</a></li>
        <li><a href="https://mega.nz/folder/qSBAiZLL#QvP7GByqgVrubOdPt7KnzA">XVIII. El registro público de bienes del patrimonio municipal</a></li>
        <li><a href="">XIX. La relación del personal y los inventarios de bienes afectos a cada uno de los servicios públicos municipales</a></li>
        <li><a href="https://mega.nz/folder/DSRAwRQS#a0f91HMszrEPuC7qfms7Ew">XX. El Programa Municipal de Desarrollo Urbano, los planes de desarrollo urbano de centros de población, y los planes parciales de desarrollo urbano</a></li>
        <li><a href="https://mega.nz/folder/WWJy3TxY#9jkupFkKZseXzFkODMdiHg">XXI. La integración, las actas de las reuniones y los acuerdos del Consejo Municipal de Desarrollo Urbano</a></li>
        <li><a href="">XXII. Las autorizaciones de nuevos fraccionamientos y los cambios de uso de suelo junto con las consultas públicas realizadas con los colonos y la integración del expediente respectivo, en los terminos del Código Urbano para el Estado de Jalisco</a></li>
        <li><a href="">XXIII. Los indicadores de evaluación del desempeño</a></li>
        <li><a href="https://mega.nz/folder/vHJkmDBI#gVx7toFnBPhkW7vQnJKNYA">XXIV. La estadística de asistencias y registro de votación de las sesiones del ayuntamiento, de las comisiones edilicias y de los consejos ciudadanos municipales, que contenga el nombre de los regidores y funcionarios que participan, el sentido del voto y, en su caso, los votos paticulares</a></li>
        <li><a href="https://mega.nz/folder/6fY2lDjQ#7lMKd82orfxPf9QcaoCdKA">XXV. Los ingresos municipales por concepto de participaciones federales y estatales, así como por ingresos propios, que integre a la hacienda pública</a></li>
        <li><a href="https://mega.nz/folder/2HRCABQC#uvb_XieowOECGlgUJVYzzQ">XXVI. La información relativa a la implementación del Presupuesto Participativo desde su planeación hasta su ejecución</a></li>
        <li><a href="">XXVII. La que establezca el Reglamento Interno de Información Pública del Municipio</a></li>
    </ul>
</div>

<div class="container accordion" id="acordeonTransparencia">

    <!-- Inicio Fracción Uno -->
    <div class="accordion-item">

      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionUno" aria-expanded="false" aria-controls="articuloQuinceFraccionUno">
            Fracción I: La obligatoria para todos los sujetos obligados
        </button>
      </h2>

      <div id="articuloQuinceFraccionUno" class="accordion-collapse collapse">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong>
        </div>
      </div>

    </div>
    <!-- Fin Fracción Uno -->

    <!-- Inicio Fracción Dos -->
    <div class="accordion-item">

      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDos" aria-expanded="false" aria-controls="articuloQuinceFraccionDos">
          Fracción II: La integración del Ayuntamiento, las comisiones edilicias y demás órganos que establezca su organigrama
        </button>
      </h2>
      
      <div id="articuloQuinceFraccionDos" class="accordion-collapse collapse">
        <div class="accordion-body">
          
            <!-- Inicio Fracción Dos 2021 - 2024 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDos20212024" aria-expanded="false" aria-controls="articuloQuinceFraccionDos20212024">
                    2021 - 2024
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionDos20212024" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Dos 2021 - 2024 -->

        </div>
      </div>
      
    </div>
    <!-- Fin Fracción Dos -->

    <!-- Inicio Fracción Tres -->
    <div class="accordion-item">

      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionTres" aria-expanded="false" aria-controls="articuloQuinceFraccionTres">
            Fracción III: Los bandos de policía y gobierno, reglamentos, decretos, acuerdos, circulares y demás disposiciones jurídicas expedidas por el Ayuntamiento respectivo
        </button>
      </h2>
      
      <div id="articuloQuinceFraccionTres" class="accordion-collapse collapse">
        <div class="accordion-body">
          
            <!-- Inicio Fracción Tres 2021 - 2024 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionTres20212024" aria-expanded="false" aria-controls="articuloQuinceFraccionTres20212024">
                    2021 - 2024
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionTres20212024" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Tres 2021 - 2024 -->

        </div>
      </div>
      
    </div>
    <!-- Fin Fracción Tres -->

    <!-- Inicio Fracción Cuatro -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionCuatro" aria-expanded="false" aria-controls="articuloQuinceFraccionCuatro">
            Fracción IV: Las iniciativas presentadas y las exposiciones de motivos de los reglamentos vigentes en el Municipio
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionCuatro" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Cuatro Administración 2015 - 2018 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionCuatroAdministracion20152018" aria-expanded="false" aria-controls="articuloQuinceFraccionCuatroAdministracion20152018">
                    Administración 2015 - 2018
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionCuatroAdministracion20152018" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Cuatro Administración 2015 - 2018 -->

            <!-- Inicio Fracción Cuatro Administración 2018 - 2021 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionCuatroAdministracion20182021" aria-expanded="false" aria-controls="articuloQuinceFraccionCuatroAdministracion20182021">
                    Administración 2018 - 2021
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionCuatroAdministracion20182021" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Cuatro Administración 2018 - 2021 -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Cuatro -->

    <!-- Inicio Fracción Cinco -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionCinco" aria-expanded="false" aria-controls="articuloQuinceFraccionCinco">
            Fracción V: Los instrumentos de planeación del desarrollo del municipio y sus modificaciones
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionCinco" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong>
          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Cinco -->

    <!-- Inicio Fracción Seis -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionSeis" aria-expanded="false" aria-controls="articuloQuinceFraccionSeis">
            Fracción VI: Los reglamentos internos, manuales y programas operativos anuales de toda dependencia
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionSeis" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong>
          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Seis -->

    <!-- Inicio Fracción Siete -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionSiete" aria-expanded="false" aria-controls="articuloQuinceFraccionSiete">
            Fracción VII: Los programas de trabajo de las comisiones edilicias
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionSiete" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Siete Administración 2015 - 2018 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionSieteAdministracion20152018" aria-expanded="false" aria-controls="articuloQuinceFraccionSieteAdministracion20152018">
                    Administración 2015 - 2018
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionSieteAdministracion20152018" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Siete Administración 2015 - 2018 -->

            <!-- Inicio Fracción Siete Administración 2018 - 2021 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionSieteAdministracion20182021" aria-expanded="false" aria-controls="articuloQuinceFraccionSieteAdministracion20182021">
                    Administración 2018 - 2021
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionSieteAdministracion20182021" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Siete Administración 2018 - 2021 -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Siete -->

    <!-- Inicio Fracción Ocho -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionOcho" aria-expanded="false" aria-controls="articuloQuinceFraccionOcho">
            Fracción VIII: Los órdenes del día de las sesiones del Ayuntamiento y las comisiones edilicias
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionOcho" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong>
          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Ocho -->

    <!-- Inicio Fracción Nueve -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionNueve" aria-expanded="false" aria-controls="articuloQuinceFraccionNueve">
            Fracción IX: El libro de actas de las sesiones del Ayuntamiento y las actas de las comisiones edilicias
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionNueve" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong>
          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Nueve -->

    <!-- Inicio Fracción Diez -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDiez" aria-expanded="false" aria-controls="articuloQuinceFraccionDiez">
            Fracción X: La gaceta municipal
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionDiez" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Diez La gaceta municipal 2015-2018 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDiezLaGacetaMunicipal20152018" aria-expanded="false" aria-controls="articuloQuinceFraccionDiezLaGacetaMunicipal20152018">
                    La gaceta municipal 2015 - 2018
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionDiezLaGacetaMunicipal20152018" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Diez La gaceta municipal 2015-2018 -->

            <!-- Inicio Fracción Diez La gaceta municipal 2018-2021 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDiezLaGacetaMunicipal20182021" aria-expanded="false" aria-controls="articuloQuinceFraccionDiezLaGacetaMunicipal20182021">
                    La gaceta municipal 2018 - 2021
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionDiezLaGacetaMunicipal20182021" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Diez La gaceta municipal 2018-2021 -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Diez -->

    <!-- Inicio Fracción Once -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionOnce" aria-expanded="false" aria-controls="articuloQuinceFraccionOnce">
            Fracción XI: La información de los registros públicos
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionOnce" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Once Administración 2015-2018 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionOnceAdministracion20152018" aria-expanded="false" aria-controls="articuloQuinceFraccionOnceAdministracion20152018">
                    Administración 2015 - 2018
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionOnceAdministracion20152018" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Once Administración 2015-2018 -->

            <!-- Inicio Fracción Once Administración 2018-2021 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionOnceAdministracion20182021" aria-expanded="false" aria-controls="articuloQuinceFraccionOnceAdministracion20182021">
                    Administración 2018 - 2021
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionOnceAdministracion20182021" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Once Administración 2018-2021 -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Once -->

    <!-- Inicio Fracción Doce -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDoce" aria-expanded="false" aria-controls="articuloQuinceFraccionDoce">
            Fracción XII: Los recursos materiales, humanos y financieros asignados a cada dependencia
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionDoce" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong>
          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Doce -->

    <!-- Inicio Fracción Trece -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionTrece" aria-expanded="false" aria-controls="articuloQuinceFraccionTrece">
            Fracción XIII: Los convenios y contratos celebrados para la realización de obra pública
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionTrece" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong>
          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Trece -->

    <!-- Inicio Fracción Catorce -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionCatorce" aria-expanded="false" aria-controls="articuloQuinceFraccionCatorce">
            Fracción XIV: Los convenios de coordinación o asociación municipal
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionCatorce" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Catorce Administración 2015-2018 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionCatorceAdministracion20152018" aria-expanded="false" aria-controls="articuloQuinceFraccionCatorceAdministracion20152018">
                    Administración 2015 - 2018
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionCatorceAdministracion20152018" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Catorce Administración 2015-2018 -->

            <!-- Inicio Fracción Catorce Administración 2018-2021 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionCatorceAdministracion20182021" aria-expanded="false" aria-controls="articuloQuinceFraccionCatorceAdministracion20182021">
                    Administración 2018 - 2021
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionCatorceAdministracion20182021" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Catorce Administración 2018-2021 -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Catorce -->

    <!-- Inicio Fracción Quince -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionQuince" aria-expanded="false" aria-controls="articuloQuinceFraccionQuince">
            Fracción XV: Los convenios para la prestación de servicios públicos coordinados o concesionados
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionQuince" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Quince Administración 2015-2018 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionQuinceAdministracion20152018" aria-expanded="false" aria-controls="articuloQuinceFraccionQuinceAdministracion20152018">
                    Administración 2015 - 2018
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionQuinceAdministracion20152018" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Quince Administración 2015-2018 -->

            <!-- Inicio Fracción Quince Administración 2018-2021 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionQuinceAdministracion20182021" aria-expanded="false" aria-controls="articuloQuinceFraccionQuinceAdministracion20182021">
                    Administración 2018 - 2021
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionQuinceAdministracion20182021" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Quince Administración 2018-2021 -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Quince -->

    <!-- Inicio Fracción Dieciseis -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDieciseis" aria-expanded="false" aria-controls="articuloQuinceFraccionDieciseis">
            Fracción XVI: El registro de los consejos consultivos ciudadanos
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionDieciseis" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Dieciseis Administración 2015-2018 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDieciseisAdministracion20152018" aria-expanded="false" aria-controls="articuloQuinceFraccionDieciseisAdministracion20152018">
                    Administración 2015 - 2018
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionDieciseisAdministracion20152018" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Dieciseis Administración 2015-2018 -->

            <!-- Inicio Fracción Dieciseis Administración 2018-2021 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDieciseisAdministracion20182021" aria-expanded="false" aria-controls="articuloQuinceFraccionDieciseisAdministracion20182021">
                    Administración 2018 - 2021
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionDieciseisAdministracion20182021" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Dieciseis Administración 2018-2021 -->

            <!-- Inicio Fracción Dieciseis Administración 2021-2024 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDieciseisAdministracion20212024" aria-expanded="false" aria-controls="articuloQuinceFraccionDieciseisAdministracion20212024">
                    Administración 2021 - 2024
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionDieciseisAdministracion20212024" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Dieciseis Administración 2021-2024 -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Dieciseis -->

    <!-- Inicio Fracción Diecisiete -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDiecisiete" aria-expanded="false" aria-controls="articuloQuinceFraccionDiecisiete">
            Fracción XVII: El registro de las asociaciones de vecinos en el municipio
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionDiecisiete" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Diecisiete Administración 2015-2018 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDiecisieteAdministracion20152018" aria-expanded="false" aria-controls="articuloQuinceFraccionDiecisieteAdministracion20152018">
                    Administración 2015 - 2018
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionDiecisieteAdministracion20152018" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Diecisiete Administración 2015-2018 -->

            <!-- Inicio Fracción Diecisiete Administración 2018-2021 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDiecisieteAdministracion20182021" aria-expanded="false" aria-controls="articuloQuinceFraccionDiecisieteAdministracion20182021">
                    Administración 2018 - 2021
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionDiecisieteAdministracion20182021" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Diecisiete Administración 2018-2021 -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Diecisiete -->

    <!-- Inicio Fracción Dieciocho -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDieciocho" aria-expanded="false" aria-controls="articuloQuinceFraccionDieciocho">
            Fracción XVIII: El registro público de bienes del patrimonio municipal
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionDieciocho" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Dieciocho Bienes del Patrimonio Municipal 2021-2024 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDieciochoBienesPatrimonioMunicipal20212024" aria-expanded="false" aria-controls="articuloQuinceFraccionDieciochoBienesPatrimonioMunicipal20212024">
                    Bienes del Patrimonio Municipal 2021 - 2024
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionDieciochoBienesPatrimonioMunicipal20212024" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Dieciocho Bienes del Patrimonio Municipal 2021-2024 -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Dieciocho -->

    <!-- Inicio Fracción Diecinueve -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionDiecinueve" aria-expanded="false" aria-controls="articuloQuinceFraccionDiecinueve">
            Fracción XIX: La relación del personal y los inventarios de bienes afectos a cada uno de los servicios públicos municipales
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionDiecinueve" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong>
          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Diecinueve -->

    <!-- Inicio Fracción Veinte -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeinte" aria-expanded="false" aria-controls="articuloQuinceFraccionVeinte">
            Fracción XX: El Programa Municipal de Desarrollo Urbano, los planes de desarrollo urbano de centros de población, y los planes parciales de desarrollo urbano
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionVeinte" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong>
          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Veinte -->

    <!-- Inicio Fracción Veintiuno -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeintiuno" aria-expanded="false" aria-controls="articuloQuinceFraccionVeintiuno">
            Fracción XXI: La integración, las actas de las reuniones y los acuerdos del Consejo Municipal de Desarrollo Urbano
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionVeintiuno" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Veintiuno Administración 2015 - 2018 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeintiunoAdministracion20152018" aria-expanded="false" aria-controls="articuloQuinceFraccionVeintiunoAdministracion20152018">
                    Administración 2015 - 2018
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionVeintiunoAdministracion20152018" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Veintiuno Administración 2015 - 2018 -->

            <!-- Inicio Fracción Veintiuno Administración 2018 - 2021 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeintiunoAdministracion20182021" aria-expanded="false" aria-controls="articuloQuinceFraccionVeintiunoAdministracion20182021">
                    Administración 2018 - 2021
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionVeintiunoAdministracion20182021" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Veintiuno Administración 2018 - 2021 -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Veintiuno -->

    <!-- Inicio Fracción Veintidos -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeintidos" aria-expanded="false" aria-controls="articuloQuinceFraccionVeintidos">
            Fracción XXII: Las autorizaciones de nuevos fraccionamientos y los cambios de uso de suelo junto con las consultas públicas realizadas con los colonos y la integración del expediente respectivo, en los terminos del Código Urbano para el Estado de Jalisco
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionVeintidos" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Veintidos Administración 2015 - 2018 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeintidosAdministracion20152018" aria-expanded="false" aria-controls="articuloQuinceFraccionVeintidosAdministracion20152018">
                    Administración 2015 - 2018
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionVeintidosAdministracion20152018" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Veintidos Administración 2015 - 2018 -->

            <!-- Inicio Fracción Veintidos Administración 2018 - 2021 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeintidosAdministracion20182021" aria-expanded="false" aria-controls="articuloQuinceFraccionVeintidosAdministracion20182021">
                    Administración 2018 - 2021
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionVeintidosAdministracion20182021" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Veintidos Administración 2018 - 2021 -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Veintidos -->

    <!-- Inicio Fracción Veintitres -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeintitres" aria-expanded="false" aria-controls="articuloQuinceFraccionVeintitres">
            Fracción XXIII: Los indicadores de evaluación del desempeño
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionVeintitres" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Veintitres Administración 2015 - 2018 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeintitresAdministracion20152018" aria-expanded="false" aria-controls="articuloQuinceFraccionVeintitresAdministracion20152018">
                    Administración 2015 - 2018
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionVeintitresAdministracion20152018" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Veintitres Administración 2015 - 2018 -->

            <!-- Inicio Fracción Veintitres Administración 2018 - 2021 -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeintitresAdministracion20182021" aria-expanded="false" aria-controls="articuloQuinceFraccionVeintitresAdministracion20182021">
                    Administración 2018 - 2021
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionVeintitresAdministracion20182021" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Veintitres Administración 2018 - 2021 -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Veintitres -->

    <!-- Inicio Fracción Veinticuatro -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeinticuatro" aria-expanded="false" aria-controls="articuloQuinceFraccionVeinticuatro">
            Fracción XXIV: La estadística de asistencias y registro de votación de las sesiones del ayuntamiento, de las comisiones edilicias y de los consejos ciudadanos municipales, que contenga el nombre de los regidores y funcionarios que participan, el sentido del voto y, en su caso, los votos paticulares
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionVeinticuatro" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Veinticuatro La estadística de asistencias de las comisiones edilicias -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeinticuatroLaEstadisticaAsistenciasComisionesEdilicias" aria-expanded="false" aria-controls="articuloQuinceFraccionVeinticuatroLaEstadisticaAsistenciasComisionesEdilicias">
                    La estadística de asistencias de las comisiones edilicias
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionVeinticuatroLaEstadisticaAsistenciasComisionesEdilicias" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Veinticuatro La estadística de asistencias de las comisiones edilicias -->

            <!-- Inicio Fracción Veinticuatro La estadística de asistencias de las sesiones del ayuntamiento -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeinticuatroLaEstadisticaAsistenciasSesionesAyuntamiento" aria-expanded="false" aria-controls="articuloQuinceFraccionVeinticuatroLaEstadisticaAsistenciasSesionesAyuntamiento">
                    La estadística de asistencias de las sesiones del ayuntamiento
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionVeinticuatroLaEstadisticaAsistenciasSesionesAyuntamiento" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Veinticuatro La estadística de asistencias de las sesiones del ayuntamiento -->

            <!-- Inicio Fracción Veinticuatro La estadística de asistencias de los consejos ciudadanos -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeinticuatroLaEstadisticaAsistenciasConsejosCiudadanos" aria-expanded="false" aria-controls="articuloQuinceFraccionVeinticuatroLaEstadisticaAsistenciasConsejosCiudadanos">
                    La estadística de asistencias de los consejos ciudadanos
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionVeinticuatroLaEstadisticaAsistenciasConsejosCiudadanos" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Veinticuatro La estadística de asistencias de los consejos ciudadanos -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Veinticuatro -->

    <!-- Inicio Fracción Veinticinco -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeinticinco" aria-expanded="false" aria-controls="articuloQuinceFraccionVeinticinco">
            Fracción XXV: Los ingresos municipales por concepto de participaciones federales y estatales, así como por ingresos propios, que integre a la hacienda pública
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionVeinticinco" class="accordion-collapse collapse">
          <div class="accordion-body">
            
            <!-- Inicio Fracción Veinticinco Ingresos Municipales por Ingresos Propios -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeinticincoIngresosMunicipalesIngresosPropios" aria-expanded="false" aria-controls="articuloQuinceFraccionVeinticincoIngresosMunicipalesIngresosPropios">
                    Ingresos Municipales por Ingresos Propios
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionVeinticincoIngresosMunicipalesIngresosPropios" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Veinticinco Ingresos Municipales por Ingresos Propios -->

            <!-- Inicio Fracción Veinticinco Ingresos Municipales por Participaciones Estatales -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeinticincoIngresosMunicipalesParticipacionesEstatales" aria-expanded="false" aria-controls="articuloQuinceFraccionVeinticincoIngresosMunicipalesParticipacionesEstatales">
                    Ingresos Municipales por Participaciones Estatales
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionVeinticincoIngresosMunicipalesParticipacionesEstatales" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Veinticinco Ingresos Municipales por Participaciones Estatales -->

            <!-- Inicio Fracción Veinticinco Ingresos Municipales por Participaciones Federales -->
            <div class="accordion-item">

                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeinticincoIngresosMunicipalesParticipacionesFederales" aria-expanded="false" aria-controls="articuloQuinceFraccionVeinticincoIngresosMunicipalesParticipacionesFederales">
                    Ingresos Municipales por Participaciones Federales
                </button>
                </h2>
                
                <div id="articuloQuinceFraccionVeinticincoIngresosMunicipalesParticipacionesFederales" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong>
                </div>
                </div>
                
            </div>
            <!-- Fin Fracción Veinticinco Ingresos Municipales por Participaciones Federales -->

          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Veinticinco -->

    <!-- Inicio Fracción Veintiseis -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeintiseis" aria-expanded="false" aria-controls="articuloQuinceFraccionVeintiseis">
            Fracción XXVI: La información relativa a la implementación del Presupuesto Participativo desde su planeación hasta su ejecución
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionVeintiseis" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong>
          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Veintiseis -->

    <!-- Inicio Fracción Veintisiete -->
    <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articuloQuinceFraccionVeintisiete" aria-expanded="false" aria-controls="articuloQuinceFraccionVeintisiete">
            Fracción XXVII: La que establezca el Reglamento Interno de Información Pública del Municipio
          </button>
        </h2>
        
        <div id="articuloQuinceFraccionVeintisiete" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong>
          </div>
        </div>
        
      </div>
      <!-- Fin Fracción Veintisiete -->

  </div>