<div class="container">
    <h2 class="mt-3">Contactanos</h2>
    <hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
        <div class="col">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3730.74098142133!2d-104.85447828507183!3d20.76128998614386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8426b764ba6c78d7%3A0x77eab4efe158e5e1!2sJu%C3%A1rez%203%2C%20San%20Sebasti%C3%A1n%20del%20Oeste%20Centro%2C%2046990%20San%20Sebasti%C3%A1n%20del%20Oeste%2C%20Jal.!5e0!3m2!1ses!2smx!4v1635469654547!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            
            <!--<form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Teléfono</label>
                    <input type="tel" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="Mensaje">Mensaje</label>
                    <textarea class="form-control" id="Mensaje" rows="3"></textarea>
                </div>
                
                <button type="submit" class="btn btn-success">Enviar mensaje</button>
              </form>-->
        </div>

        <div class="col">
            <p>Somos un gobierno conformado por ciudadanos apasionados en el crecimiento de nuestra comunidad y brindar apoyo a todo aquel que lo necesite. Estamos convencidos en trabajar arduamente y con responsabilidad para mover a San Sebastiàn del Oeste hacia un mejor futuro.</p>

            <a class="nav-link" href="https://goo.gl/maps/8Zr2JzRgLsbioHmx6"><i class="bi bi-geo-alt"></i> Juárez 3, San Sebastián del Oeste Centro, 46990 San Sebastián del Oeste, Jal.</a>
            <a class="nav-link nav-link-color:warn;" href="tel:3222972898"><i class="bi bi-telephone"></i> 32 2297 2898</a>
            <a class="nav-link" href="mailto:presidencia@sansebastiandeloeste.gob.mx"><i class="bi bi-envelope"></i> presidencia@sansebastiandeloeste.gob.mx</a>
            <a class="nav-link" href="mailto:ayuntamientosso@gmail.com"><i class="bi bi-envelope"></i> ayuntamientosso@gmail.com</a>
            <p>
                <br>
                Gobierno Ciudadano de San Sebastián del Oeste.
                <br><br>
                Lunes a Viernes: 9:00 a.m. - 3:00 p.m.
                <br>
                Sábado y Domingo: Cerrado
            </p>
        </div>
    </div>

</div>